body {
    background-color: #0f172a;
    color: white;
}

.main {
    background-color: #0f172a;
}

h1, h2, h3 {
    color: #38bdf8;
}

.stMetric {
    background: linear-gradient(
        135deg,
        #1e293b,
        #334155
    );

    padding: 15px;

    border-radius: 15px;

    border: 1px solid #38bdf8;
}

.stDataFrame {
    border-radius: 10px;
}

section[data-testid="stSidebar"] {
    background-color: #111827;
}

.stButton>button {
    background-color: #38bdf8;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.stFileUploader {
    background-color: #1e293b;
    padding: 10px;
    border-radius: 10px;
}
.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    z-index: 9999;
}

.chat-box {
    background-color: #1e293b;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #38bdf8;
}